summary {
  list-style-type: none;
  background-color: #ff4a17;
}

summary::webkit-details-marker {
  display: none;
}

.accordion-wrap {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

details[open] summary ~ * {
  animation: toggle 0.5s ease-in-out;
}
@keyframes toggle {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.accordion-item summary h6 {
  color: white;
  padding: 0.7rem;
}
.accordion-item p {
  padding: 0.7rem;
  background-color: white;
}
